/* --------- */
/* variables */
/* --------- */
:root {
    --background: #eee;
    --background-dark: #ddd;
    --foreground: #444;
    --foreground-dark: #111;
    --accent: #5b67ec;
    --border: 1px solid rgba(0,0,0,.25);
}

body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100vw;
    height: 100vh;
    color: var(--foreground);
    background: var(--background);
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

a {
    color: var(--accent);
    text-decoration: none;
}

ul {
    list-style-type: none;
    line-height: 1.5rem;
    padding: 0;
}

.nav {
    background: var(--background-dark);
    color: var(--foreground-light);
    padding: 0 2rem;
    border-right: var(--border);
}

.nav li {
    margin: 1rem 0;
}

.buffer {
    display: grid;
    max-height: 100vh;
    overflow-x: hidden;
    grid-column-start: span 5;
    margin: 0 0 2rem 0;
}

.buffer .wrapper {
    display: flex;
    flex-direction: row;
}

.buffer a {
    color: inherit;
}

.buffer li {
    vertical-align: middle;
}

.name {
    display: inline-block;
    width: 5rem;
    text-align: right;
}

.buffer .separator {
    display: flex;
    justify-content: flex-start;
    background: var(--background-dark);
    width: 1px;
    margin: 0 1rem;
}

.names {
    width: 10rem;
}

.names li {
    display: flex;
    justify-content: flex-end;
}

.input {
    width: -webkit-fill-available;
    position: fixed;
    bottom: 0;
    border-top: var(--border);
}

.input input {
    width: inherit;
    padding: .5rem;
    border: 0;
}