<html>
<head>
    <meta charset="UTF-8">
    <title>nook</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
</head>
<body>
    <section class="nav">
        <ul class="server">
            <span class="server-name">rizon</span>
            <div class="server-channels">
                <li><a href="#">#rice</a></li>
                <li><a href="#">#riz</a></li>
                <li><a href="#" class="active">#letirc</a></li>
            </div>
        </ul>
        <ul class="server">
            <span class="server-name">freenode</span>
            <div class="server-channels">
                <li><a href="#">#soju</a></li>
                <li><a href="#">#go-nuts</a></li>
                <li><a href="#">#znc</a></li>
            </div>
        </ul>
    </section>
    <section id="buffer" class="buffer">
        <div class="wrapper">
            <ul>
                <li><a href="#"><span class="name join">eti</span></a></li>
                <li><a href="#"><span class="name msg">lew</span></a><span class="message">sounds gucci</span></li>
                <li><a href="#"><span class="name msg hidden">lew</span></a><span class="message">the window title should change based on new messages</span></li>
                <li><a href="#"><span class="name msg">eti</span></a><span class="message">hmmm</span></li>
                <li><a href="#"><span class="name msg hidden">eti</span></a><span class="message">dunno how</span></li>
                <li><a href="#"><span class="name msg hidden">eti</span></a><span class="message">but we'll manage lol</span></li>
                <li><a href="#"><span class="name msg">lew</span></a><span class="message">ah, it was new in the update</span></li>
                <li><a href="#"><span class="name msg hidden">lew</span></a><span class="message">i have git now</span></li>
                <li><a href="#"><span class="name msg">eti</span></a><span class="message">i found socket.io in golang, check it out idk <a href="https://github.com/googollee/go-socket.io">https://github.com/googollee/go-socket.io</a> 💼</span></li>
            </ul>
        </div>
    </section>
    <div class="input">
        <input type="text">
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>
</html>