<html>
<head>
    <meta charset="UTF-8">
    <title>nook</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
</head>
<body>
    <section class="nav">
        <ul class="server">
            <span class="server-name">server</span>
            <div class="server-channels">
                <li><a href="#" class="active">#channel</a></li>
                <li><a href="#">#channel2</a></li>
            </div>
        </ul>
    </section>
    <section id="buffer" class="buffer">
        <div class="wrapper">
            <ul id="log">
                <li><span class="name join"><a href="#">user</a></span></li>
                <li><span class="name msg"><a href="#">user2</a></span><span class="message">hello</span></li>
                <li><span class="name msg hidden"><a href="#">user2</a></span><span class="message">how are you</span></li>
                <li><span class="name msg"><a href="#">user</a></span><span class="message">yes</span></li>
            </ul>
            <!-- <button onclick="addMessage()">add message</button> -->
        </div>
        <div class="input">
            <input type="text">
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>
</html>